<p>プロジェクト</p>
<div>
    プロジェクト名：
    <input id="projectName" type="text" />
</div>
<input id="createProject" type="button" value="プロジェクト作成" (click)="createProject()"/>

<div>
    <p id="resultLog">
    </p>
</div>

<section class="container">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let data"> {{data.id}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> action </th>
        <td mat-cell *matCellDef="let element" class="action-link">
            <a (click)="deleteProject(element)"><button mat-raised-button>削除</button></a>
        </td>
      </ng-container>
  
      <tr class="header-row" mat-header-row *matHeaderRowDef="columnName; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnName;"></tr>
    </table>
  </section>